@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: $bodyFont;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: $white;
    padding: 0 10vw;
    z-index: 2;
    position: relative;

    ul {
        display: none;

        @media (min-width: $desktop) {
            display: block;
            list-style: none;
            height: 100%;

            li {
                cursor: pointer;
                display: inline-block;
                margin: 0px 12px;
                height: 100%;
                align-self: center;
                align-content: center;
                justify-self: center;

                a {
                    height: 100%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: $grayishBlue;
                    text-decoration: none;
                }

                &:hover {
                    border-bottom: 4px solid $limeGreen;

                    a {
                        color: $darkBlue;
                    }
                }
            }
        }
    }
}

.request__invite {
    cursor: pointer;
    color: $veryLightGray;
    font-size: 12px;
    padding: 12px 32px;
    border-radius: 24px;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    transition: all 0.4s ease;

    &:hover {
        -webkit-box-shadow: 0px 11px 24px -11px $grayishBlue;
        -moz-box-shadow: 0px 11px 24px -11px $grayishBlue;
        box-shadow: 0px 11px 24px -11px $grayishBlue;
    }

    &.hide {
        display: none;

        @media (min-width: $desktop) {
            display: block;
        }
    }
}

#trigger {
    display: none;

    &:checked+.checker {
        background-image: url(../images/icon-close.svg);
    }

    &:not(:checked)+.checker {
        background-image: url(../images/icon-hamburger.svg);
    }
}

.checker {
    background-position: left center;
    background-size: auto 100%;
    width: 16px;
    height: 12px;
    background-repeat: no-repeat;
    transition: all 0.2s ease;

    @media (min-width: $desktop) {
        display: none;
    }
}

.home {
    background-color: $veryLightGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $desktop) {
        align-items: flex-start;
        padding: 14vh 0;
    }

    &__pattern {
        position: relative;
        width: 100%;
        height: 48vh;

        @media (min-width: $desktop) {
            position: absolute;
            height: 100%;
        }

        &-bg {
            width: 100%;
            height: 100%;
            background-image: url(../images/image-mockups.png), url(../images/bg-intro-mobile.svg);
            background-repeat: no-repeat;
            background-position: center 60%, 0 0;
            background-size: 90%, cover;

            @media (min-width: $desktop) {
                position: absolute;
                height: 100%;
                background-image: url(../images/bg-intro-desktop.svg);
                background-repeat: no-repeat;
                background-position: 160% 0;
                bottom: 8%;
                background-size: contain;
            }
        }

        &-mbl {
            display: none;

            @media (min-width: $desktop) {
                position: absolute;
                background-image: url(../images/image-mockups.png);
                display: flex;
                height: 106%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: 116% 0;
                background-size: contain;
                z-index: 1;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 4vh 10vw 8vh 10vw;
        z-index: 2;

        @media (min-width: $desktop) {
            flex-direction: column;
            align-content: start;
            justify-content: center;
            padding: 0vh 10vw;
        }

        h1 {
            text-align: center;
            font-size: 32px;
            font-weight: $regularFont;
            color: $darkBlue;
            margin-top: 24px;

            @media (min-width: $desktop) {
                margin-top: 0;
                text-align: start;
                font-size: 54px;
                width: 40%;
            }
        }

        p {
            line-height: 1.6;
            text-align: center;
            font-size: 14px;
            color: $grayishBlue;
            margin: 24px 0;

            @media (min-width: $desktop) {
                text-align: start;
                font-size: 16px;
                width: 40%;
            }
        }

        .request__invite {
            align-self: center;

            @media (min-width: $desktop) {
                align-self: flex-start;
            }
        }
    }
}

#nav__mbl {
    display: none;
    position: absolute;
    top: 14vh;
    left: 32px;
    right: 32px;
    background-color: $white;
    border-radius: 8px;
    list-style: none;
    padding: 20px 0;

    li {
        text-align: center;
        padding: 12px 0;

        a {
            color: $darkBlue;
            text-decoration: none;
            text-align: center;
        }
    }

    @media (min-width: $desktop) {
        display: none;
    }
}

.about {
    padding: 10vh 12vw;
    background-color: $lightGrayishBlue;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width: $desktop) {
            display: block;
            text-align: start;
        }

        h1 {
            color: $darkBlue;
            font-size: 28px;
            font-weight: $regularFont;
        }

        p {
            margin-top: 20px;
            line-height: 1.6;
            color: $grayishBlue;
            font-size: 14px;
            font-weight: $regularFont;

            @media (min-width: $desktop) {
                width: 40%;
            }
        }
    }

    &__items {
        margin-top: 40px;
        display: grid;
        grid-template-rows: repeat(1, 4fr);
        grid-row-gap: 32px;

        @media (min-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 32px;
        }

        .item {
            text-align: center;

            @media (min-width: $desktop) {
                text-align: start;
            }

            img {
                width: 20%;
            }

            h1 {
                margin-top: 24px;
                color: $darkBlue;
                font-size: 20px;
            }

            p {
                line-height: 1.6;
                margin-top: 24px;
                color: $grayishBlue;
                font-size: 14px;
            }
        }
    }
}

.article {
    padding: 10vh 12vw;
    background-color: $veryLightGray;

    h1 {
        text-align: center;
        font-size: 24px;
        color: $darkBlue;
        font-weight: $regularFont;

        @media (min-width: $desktop) {
            text-align: start;
        }
    }

    &__items {
        margin-top: 40px;
        display: grid;
        grid-template-rows: repeat(1, 4fr);
        grid-gap: 32px;

        @media (min-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 32px;
        }

        .item {
            cursor: pointer;
            background-color: $white;
            border-radius: 6px;

            img {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                max-width: 100%;
                max-height: auto;
                overflow: hidden;
            }

            p {
                font-size: 10px;
                color: $grayishBlue;
                padding: 16px 24px 8px 24px;
            }

            h1 {
                text-align: start;
                font-size: 16px;
                font-weight: $regularFont;
                color: $darkBlue;
                padding: 0px 24px 8px 24px;
            }

            h2 {
                font-size: 12px;
                color: $grayishBlue;
                font-weight: $regularFont;
                padding: 0px 24px 24px 24px;
            }

            &:hover h1 {
                color: $limeGreen;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: $darkBlue;
    justify-content: center;
    align-items: center;

    @media (min-width: $desktop) {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        height: 24vh;
    }

    .f__logo_links {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $desktop) {
            align-items: flex-start;
            justify-content: space-evenly;
        }

        .f__logo {
            width: 70%;
            padding: 32px 0 24px 0;
        }

        .f__social_links {
            cursor: pointer;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 12px;
            margin-bottom: 24px;

            a:hover img {
                filter: invert(20%) sepia(51%) saturate(4854%) hue-rotate(59deg) brightness(88%) contrast(87%);
            }
        }
    }

    .f__nav_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        color: $white;

        a {
            cursor: pointer;
            text-decoration: none;
            width: max-content;
            margin-bottom: 16px;

            @media (min-width: $desktop) {
                margin-bottom: 0;
            }

            &:hover {
                color: $limeGreen;
            }
        }

        @media (min-width: $desktop) {
            align-self: center;
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            grid-column-gap: 72px;
            grid-row-gap: 20px;
        }
    }

    .f__extras {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (min-width: $desktop) {
            align-items: flex-end;
            justify-content: space-evenly;
        }

        .request__invite {
            margin-top: 12px;

            @media (min-width: $desktop) {
                margin-top: 0;
            }
        }

        p {
            color: $grayishBlue;
            font-size: 12px;
            margin-top: 24px;
            margin-bottom: 32px;
            text-align: center;

            @media (min-width: $desktop) {
                margin-top: 0;
                margin-bottom: 0;
                text-align: end;
            }

            a {
                cursor: pointer;
                color: $grayishBlue;
                text-decoration: underline;
                font-family: monospace;
                font-size: 12px;
            }
        }
    }
}