@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// Layout
$mobile: 375px;
$desktop: 1440px;

// Colors
$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);

$cFacebook: hsl(208, 92%, 53%);
$cTwitter: hsl(203, 89%, 53%);
$cInstagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$cYoutube: hsl(348, 97%, 39%);

// toggle-theme
$darkToggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$lightToggle: hsl(230, 22%, 74%);

// dark-theme
$veryDarkBlueBg: hsl(230, 17%, 14%);
$veryDarkBlueBgPattern: hsl(232, 19%, 15%);
$darkDesaturatedBlueCardBg: hsl(228, 28%, 20%);
$desaturatedBlueText: hsl(228, 34%, 66%);
$whiteText: hsl(0, 0%, 100%);

// light-theme
$whiteBg: hsl(0, 0%, 100%);
$veryPaleBlueBgPattern: hsl(225, 100%, 98%);
$lightGrayishBlueCardBg: hsl(227, 47%, 96%);
$darkGrayishBlueText: hsl(228, 12%, 44%);
$veryDarkBlueText: hsl(230, 17%, 14%);

// Fonts
$fontLight: 400;
$fontBold: 700;